markdown:
  Jede meiner Arbeitsstunden kostet CHF 200.-, unabhängig ob ich als Berater oder Programmierer tätig bin. Ich runde auf Viertelstunden.

  Bei Besuchen vor Ort berechne ich sowohl Fahrtspesen (öffentlicher Verkehr) als auch CHF 50.- pro Reisestunde (Hin- und Rückweg).

  Für längerfristige Aufträge können Spezielvereinbarungen getroffen werden.
