markdown:
  Here in Switzerland there is a common conviction: **"You don't talk about wages."** I think this is **apathetic** (because who benefits this attitude the most?) and I like to talk about wage issues.

   Especially since my **services** as an accessibility expert with a profound developer background are worth their **good money**. #{icon 'smile-o', type: :fa}
