p
  ' Die <strong>beste Referenz</strong> für mein Können ist der
  a href="https://www.accessibility-developer-guide.com" «Accessibility Developer Guide (ADG)»
  | , die umfassende Online-Plattform zur Entwicklung zugänglicher Websites.

p Ich bin der <strong>geistige Vater</strong> des «ADG»: Als Mitarbeiter von «Zugang für alle» habe ich diesen während mehrerer Jahre erarbeitet und 2018 lanciert. Die <strong>technischen Inhalte</strong> stammen grösstenteils <strong>aus meiner Feder</strong>.
