p Ich empfinde mich selbst als <strong>technisch versierte</strong> und <strong>offenherzige</strong> Person: <strong>Freude und Sinn</strong> bei der Arbeit sind für mich keine illusorischen Nice-to-haves, sondern <strong>höchste Priorität</strong>.
