markdown:
  Wir sind **Joshua Muheim** und **Markus Graf**. Wir sind **Fullstack Webentwickler** und **Experte für Barrierefreiheit**.

  Joshuas Expertise hat er sich als Teil des **inklusiven Teams** der Stiftung [«Zugang für alle»](http://www.access-for-all.ch) aufgebaut. Die Kür seiner Arbeit dort war die Lancierung des [«Accessibility Developer Guide»](http://www.accessibility-developer-guide.com).

  Als Freiberufler bieten wir umfassende **Beratung und Mitarbeit** an bei Themen rund um die Barrierefreiheit elektronischer Medien, insbesondere **Websites** und **mobile Apps**.

  Wir unterstütze Sie gerne direkt **vor Ort**, sowie **standordunabhängig** mittels Telefon, Email und Videokonferenz. Wir sprechen fliessend **Deutsch und Englisch**.

  Ob Beratung bezüglich offizieller Richtlinien wie die **Web Content Accessibility Guidelines** (WCAG), **Live-Testing** Ihrer Produkte auf typische Mängel der Barrierefreiheit, **Coaching** von Entwicklern oder aktive **Mitarbeit** in Ihrem Team: Wir bieten für unterschiedliche Ansprüche pragmatische und flexible Lösungen an. Bei **minimalem Aufwand** sind wir somit **optimal zielführend** für Sie und Ihr Projekt.

  Unsere Devise ist: möglichst **wenig Theorie und Papierkram** unserserseits, sondern **aktive Einbindung und dadurch Befähigung** Ihrerseits. Dies führt zu **nachvollziehbaren, handfesten Resultaten**.

  Wir freuen uns über Ihre Kontaktaufnahme.
