markdown:
  We are **Joshua Muheim** and **Markus Graf**. We are **fullstack web developer** and **accessibility expert**.

  Joshua built up his expertise as part of the **inclusive team** of the foundation ["Access for all"](http://www.access-for-all.ch). The peak of his work there was the launch of the [«Accessibility Developer Guide»](http://www.accessibility-developer-guide.com).

  As freelancers we offer comprehensive **consulting and collaboration** on topics related to accessibility of electronic media, especially **websites** and **mobile apps**.

  We support you with pleasure directly **on site**, as well as **independently of location** by telephone, email and video conference. We speak fluently **German and English**.

  Whether consulting regarding official guidelines such as the **Web Content Accessibility Guidelines** (WCAG), **live testing** of your products for typical deficiencies of accessibility, **coaching** of developers or active **work** in your team: We offer pragmatic and flexible solutions for different requirements. With **minimal effort** We are **optimally goal-oriented** for you and your project.

  Our motto is: if possible **less theory and paperwork** on our part, but **active involvement and thus empowerment** on your part. This leads to **traceable, tangible results**.

  We are looking forward to hearing from you.
