markdown:
  Mein Name ist **Joshua Muheim**. Ich bin **Fullstack Webentwickler** und **Experte für Barrierefreiheit**.

  Meine Expertise habe ich als Teil des **inklusiven Teams** der Stiftung [«Zugang für alle»](http://www.access-for-all.ch) aufgebaut. Die Kür meiner Arbeit dort war die Lancierung des [«Accessibility Developer Guide»](http://www.accessibility-developer-guide.com).

  Als Freiberufler biete ich umfassende **Beratung und Mitarbeit** an bei Themen rund um die Barrierefreiheit elektronischer Medien, insbesondere **Websites** und **mobile Apps**.

  Ich unterstütze Sie gerne direkt **vor Ort**, sowie **standordunabhängig** mittels Telefon, Email und Videokonferenz. Ich spreche fliessend **Deutsch und Englisch**.

  Ob Beratung bezüglich offizieller Richtlinien wie die **Web Content Accessibility Guidelines** (WCAG), **Live-Testing** Ihrer Produkte auf typische Mängel der Barrierefreiheit, **Coaching** von Entwicklern oder aktive **Mitarbeit** in Ihrem Team: ich biete für unterschiedliche Ansprüche pragmatische und flexible Lösungen an. Bei **minimalem Aufwand** bin ich somit **optimal zielführend** für Sie und Ihr Projekt.

  Meine Devise ist: möglichst **wenig Theorie und Papierkram** meinerseits, sondern **aktive Einbindung und dadurch Befähigung** Ihrerseits. Dies führt zu **nachvollziehbaren, handfesten Resultaten**.

  Ich freue mich über Ihre Kontaktaufnahme.
