markdown:
  **Years of experience** with dozens of projects has shown me time and again that the pursuit of accessibility **without profound knowledge** is in most cases **doomed to failure** - especially if one tries to optimize a project only afterwards.

  **Competent advice** is therefore invaluable. And that's where I come in! #{icon 'smile-o', type: :fa}
