markdown:
  **Jahrelange Erfahrung** mit Dutzenden Projekten hat immer wieder gezeigt, dass das Streben nach Barrierefreiheit **ohne profundes Wissen** in den meisten Fällen **zum Scheitern verurteilt** ist - speziell wenn erst im Nachhinein versucht wird, ein Projekt zu optimieren.

  **Kompetente Beratung** ist deshalb von unschätzbarer Bedeutung. Und hier kommen wir ins Spiel! #{icon 'smile-o', type: :fa}
