h2.h4
  => icon 'smile-o', type: :fa
  | We looking forward to meet you!

markdown:
  We are glad you want to get in touch with me. Please fill out the form below.

  During a 15-minute demo session, you will have the opportunity to see for yourself our skills live, and we will also see if the chemistry between us is right.

  This demo session is 100% free of charge and leads to no obligation. You can then decide at your leisure whether you want to use our services.

  Sincerely, your Joshua Muheim and Markus Graf
