h2.h4
  => icon 'map-o', type: :fa
  | What does a trial session look like?

markdown:
  I invite you to a video conference using the software [Zoom.us](https://zoom.us) (free of charge, no installation required).

  The session will focus on checking your website: I will share my desktop with you so that you can experience live how your website performs during the various tests. You will also see which tools I use for this purpose (e.g. screen reader, contrast checker, etc.).

  Of course, you can ask questions and make comments at any time. And in the end we will discuss what further cooperation might look like.
