h2
  => icon 'smile-o', type: :fa
  | I am looking forward to meeting you!

markdown:
  I'm glad you want to get in touch with me. Please fill out the form below.

  During a 15-minute demo session, you will have the opportunity to see for yourself my skills live, and we will also see if the chemistry between us is right.

  This demo session is 100% free of charge and leads to no obligation. You can then decide at your leisure whether you want to use my services.

  Sincerely, your Joshua Muheim
