h2.h4
  => icon 'map-o', type: :fa
  | Wie sieht eine Probe-Session aus?

markdown:
  Wir laden Sie zu einer Video-Konferenz ein. Wir verwende hierzu die Software [Zoom.us](https://zoom.us) (kostenlos, keinerlei Installation notwendig).

  Im Zentrum der Session steht die Überprüfung Ihrer Website: hierfür teile wir unseren Desktop mit Ihnen, so dass Sie live erleben können, wie sich Ihre Website bei den unterschiedlichen Tests bewährt. Zudem sehen Sie, welche Tools wir dafür nutze (z.B. Screenreader, Kontrast-Checker, etc.).

  Sie können natürlich jederzeit Fragen stellen und Kommentare anbringen. Und zum Schluss besprechen wir, wie eine weitere Zusammenarbeit aussehen könnte.
