h2
  => icon 'map-o', type: :fa
  | Wie sieht eine Probe-Session aus?

markdown:
  Ich lade Sie zu einer Video-Konferenz ein. Ich verwende hierzu die Software [Zoom.us](https://zoom.us) (kostenlos, keinerlei Installation notwendig).

  Im Zentrum der Session steht die Überprüfung Ihrer Website: hierfür teile ich meinen Desktop mit Ihnen, so dass Sie live erleben können, wie sich Ihre Website bei den unterschiedlichen Tests bewährt. Zudem sehen Sie, welche Tools ich dafür nutze (z.B. Screenreader, Kontrast-Checker, etc.).

  Sie können natürlich jederzeit Fragen stellen und Kommentare anbringen. Und zum Schluss besprechen wir, wie eine weitere Zusammenarbeit aussehen könnte.
