p Ihre Anfrage ist erfolgreich bei mir eingetroffen und ich werde mich um deren Bearbeitung kümmern!

p Eine Bestätigung mit allen Angaben wurde bereits per Email an Sie verschickt. In Kürze werde ich zudem persönlich mit Ihnen Kontakt aufnehmen, um die weiteren Schritte bekannt zu geben.
