markdown:
  ## Und in der Zwischenzeit...

  Wir geben uns Mühe, Anfragen so rasch als möglich zu bearbeiten. Trotzdem kann es einige Tage dauern, bis Sie von uns hören. Bis dahin sollten Sie die Chance nutzen, sich etwas vorzubereiten, um von der kostenlosen Session möglichst viel profitieren zu können!
