markdown:
  Ihre Anfrage ist erfolgreich bei uns eingetroffen und wir werden uns um deren Bearbeitung kümmern!

  Eine Bestätigung mit allen Angaben wurde bereits per Email an Sie verschickt. In Kürze werden wir zudem persönlich mit Ihnen Kontakt aufnehmen, um die weiteren Schritte bekannt zu geben.
