h2 And in the meantime....

p I'm trying to process requests as quickly as possible, but it may take a while before you hear from me, so you should take the chance to prepare something to get the most out of the free session!
