h2 Und in der Zwischenzeit...

p Ich gebe mir Mühe, Anfragen so rasch als möglich zu bearbeiten. Trotzdem kann es etwas dauern, bis Sie von mir hören. Bis dahin sollten Sie die Chance nutzen, sich etwas vorzubereiten, um von der kostenlosen Session möglichst viel profitieren zu können!
