markdown:
  Your request has been received successfully and we will take care of its processing!

  A confirmation with all details has already been sent to you by email and we will contact you personally shortly to announce the next steps.
