h2 And in the meantime....

p I'm trying to process requests as quickly as possible, but it may take some days before you hear from me. So you should take the chance to prepare a bit to get the most out of the free session!
