h3
  => icon 'grav', type: :fa
  | Read in the «Accessibility Developer Guide»!

markdown:
  The [«Accessibility Developer Guide (ADG)»](http://www.accessibility-developer-guide.com) is the comprehensive online platform for the development of accessible websites - from developers, for developers.

  In the «ADG» developers will find everything they need to know to develop accessible websites.

  Oh, by the way: I'm the initiator of the «ADG» and most of the content comes from me.
