h3
  => icon 'grav', type: :fa
  | Lesen Sie im «Accessibility Developer Guide»!

markdown:
  Der [«Accessibility Developer Guide (ADG)»](http://www.accessibility-developer-guide.com) ist die umfassende Online-Plattform zur Entwicklung zugänglicher Websites - von Entwicklern, für Entwickler.

  Im «ADG» finden Entwickler alles, was sie wissen müssen, um zugängliche Websites zu entwickeln.

  Ach ja, kleine Notiz am Rande: ich bin der Initiator des «ADG» und die meisten Inhalte stammen von mir.
