markdown:
  Ich vermittle liebend gerne mein Wissen, am besten **direkt am Bildschirm**, zusammen mit Ihren Entwicklern und innerhalb Ihres Projektcodes.

  Als **Coach** begleite ich Entwickler über einen längeren Zeitraum und unterstütze sie darin, sich alle notwendigen technischen Fähigkeiten zu Barrierefreiheit anzueignen.

  Auch auf Ihre spezifischen Bedürfnisse zugeschnittene **Workshops** und **Webinare** gehören zu meinem breiten Angebot.

  Wo immer es um das Vermitteln von **technischem Wissen** rund um Barrierefreiheit geht, behaupte ich eine gute Wahl zu sein.
