markdown:
  I would love to share my knowledge, preferably **directly on screen**, with your developers and within your project code.

  As **Coach** I accompany developers over a longer period of time and support them in acquiring all necessary technical skills for accessibility.

  I also offer **Workshops** and **Webinars** tailored to your specific needs.

  Whenever it comes to imparting **technical knowledge** about accessibility, I claim to be a good choice.
