markdown:
  At the heart of my services is the consistent **transfer of my expertise** to the customer through **learning by doing** - in accordance with the principle **"helping people to help themselves"**.

  Whether at your location or "remotely" via video telephony: I help **fast, target-oriented and efficient**.
