markdown:
  Im Zentrum meiner Dienstleistungen steht die konsequente **Weitergabe meiner Expertise** an den Kunden durch **"Learning by doing"** - ganz gemäss dem Leitsatz **"Hilfe zur Selbsthilfe"**.

  Ob bei Ihnen vor Ort oder "remote" per Videotelefonie: ich helfe **schnell, zielführend und effizient**.
