markdown:
  Each of my working hours costs CHF 200, regardless of whether I am a consultant or programmer. I'll round to quarters.

  For on-site visits I charge both travel expenses (public transport) and CHF 50 per hour (round trip).

  Special target agreements can be made for longer-term contracts.
