markdown:
  Jede unserer Arbeitsstunden kostet CHF 150.-, unabhängig ob ich als Berater oder Programmierer tätig bin. Wir runden auf Viertelstunden.

  Bei Besuchen vor Ort berechnen wir sowohl Fahrtspesen (öffentlicher Verkehr) als auch CHF 50.- pro Reisestunde (Hin- und Rückweg).

  Für längerfristige Aufträge können Spezielvereinbarungen getroffen werden.
