markdown:
  Bei uns in der Schweiz herrscht die gängige Überzeugung: **"Über Geld spricht man nicht."** Wir halten dies für **Schwachsinn** (denn wen begünstigt diese Haltung wohl am meisten?) und sprechen gerne über Preise.

 Zumal unsere **Dienstleistungen** als Accessibility-Experten mit profundem Entwickler-Hintergrund ihr **gutes Geld wert** sind. #{icon 'smile-o', type: :fa}
