markdown:
  Bei uns in der Schweiz herrscht die gängige Überzeugung: **"Über Lohn spricht man nicht."** Wir halten dies für **Schwachsinn** (denn wen begünstigt diese Haltung wohl am meisten?) und spreche gerne über Lohnfragen.

 Zumal unsere **Dienstleistungen** als Accessibility-Experte mit profundem Entwickler-Hintergrund ihr **gutes Geld wert** sind. #{icon 'smile-o', type: :fa}
