markdown:
  Ganz ehrlich: wer braucht schon CHF 150.- Lohn pro Stunde? Was für eine absurde Welt, in welcher einige die Sahne abschöpfen dürfen, während andere bei gleicher Leistung nur einen Bruchteil verdienen.

  Um einen kleinen Beitrag zu leisten, dem entgegen zu wirken, spenden wir einen Viertel unseres Verdiensts an sinnvolle Projekte, die finanzielle Mittel benötigen.

  Wir tun dies freiwillig und aus innerer Überzeugung.
