markdown:
  Als Empfänger meiner Dienstleistungen ist Ihnen voll und ganz bewusst, dass ich beim Bearbeiten Ihrer Anfragen und Aufträge immer in bestem Wissen und Gewissen handle.

  Jegliche Aussagen meinerseits sind aber ohne Gewähr. Ich kann auch nicht verantwortlich gemacht werden für Schaden, der durch Aussagen und Handlungen meinerseits entsteht.
