markdown:
  As a recipient of our services, you are fully aware that we always act in the best of our knowledge and conscience when processing your enquiries and orders.

  However, any statements on our part are without guarantee. We cannot be held responsible for damage caused by statements and actions on our part.
