markdown:
  As a recipient of my services, you are fully aware that I always act in the best of my knowledge and conscience when processing your enquiries and orders.

  However, any statements on my part are without guarantee. I cannot be held responsible for damage caused by statements and actions on my part.
