markdown:
  Als Empfänger unserer Dienstleistungen ist Ihnen voll und ganz bewusst, dass wir beim Bearbeiten Ihrer Anfragen und Aufträge immer in bestem Wissen und Gewissen handle.

  Jegliche Aussagen unsererseits sind aber ohne Gewähr. Wir können auch nicht verantwortlich gemacht werden für Schaden, der durch Aussagen und Handlungen unsererseits entsteht.
