markdown:
  Be it a **consulting** on site, a **hack session** directly in your code together with your developers, a live **test session** of your website "per remote" (incl. video recording of it) or an **individual webinar**:

  With our experience we form the **optimal interface** for the otherwise often difficult gap between **providers of electronic media** and the **needs of affected end users**.

  We therefore support you **actively and specifically** in developing **simple** and nevertheless **modern**, technically **clean solutions** which are **100% accessible** for any requirements.

  Tell us what you need and we will work out a **pragmatic way** together, which will support you **quickly and goal-oriented** with minimum effort.
