markdown:
  Sei es bei einer **Beratung** vor Ort, einer **Hack-Session** direkt in Ihrem Code zusammen mit Ihren Entwicklern, einer live **Prüf-Session** Ihrer Website "per remote" (inkl. Videomitschnitt derselben) oder einem **individuellen Webinar**:

  Mit unserer Erfahrung bilden wir die **optimale Schnittstelle** für die sonst oft schwierig zu überbrückende Lücke zwischen **Anbietern elektronischer Medien** und den **Bedürfnissen betroffener Endnutzer**.

  Wir unterstützen Sie somit **aktiv und konkret** dabei, für jegliche Anforderungen **einfache** und gleichwohl **moderne**, technisch **saubere Lösungen** zu erarbeiten, welche **100% zugänglich** sind.

  Sagen Sie uns, was Sie brauchen, und wir werden gemeinsam einen **pragmatischen Weg** erarbeiten, welcher Sie bei minimalem Aufwand **schnell und zielführend** unterstützt.
