markdown:
  The **best reference** for our skills is the [«Accessibility Developer Guide»](http://www.accessibility-developer-guide.com) (ADG), the comprehensive online platform for developing accessible websites.

  Joshua am the **initiator and main contributor** of the ADG: as an employee of «Access for all», he conceived it over several years on his own initiative and from 2017 finally developed it as an official project with the foundation. Most of the **contents** come **from his pen**.

  Over the past few months, a group of several renowned Swiss web agencies has formed around the ADG:

  - [Hinderling Volkart](https://www.hinderlingvolkart.com/)
  - [UNIC AG](https://www.unic.com/)
  - [Liip AG](https://www.liip.ch/)
  - [Zeix AG](https://www.zeix.ch/)

  As [«Accessibility Alliance»](http://www.accessibility-developer-guide.com/introduction/about/) we will officially hand over the ADG to the public on **19 June 2018** as an Open Source project.

  Even after Joshuas departure from «Access for all», we will continue to be actively involved in the **further development** of the ADG as part of the open source community.
