markdown:
  Die **beste Referenz** für unser Können ist der [«Accessibility Developer Guide»](href="http://www.accessibility-developer-guide.com) (ADG), die umfassende Online-Plattform zur Entwicklung zugänglicher Websites.

  Joshua ist der **Initiator und Hauptmitwirkende** des ADG: als Mitarbeiter von «Zugang für alle» hat er diesen während mehrerer Jahre in eigener Initiative konzipiert und ab 2017 schliesslich als offizielles Projekt mit der Stiftung erarbeitet. Der Grossteil der **Inhalte** stammt **aus seiner Feder**.

  Im Laufe der vergangenen Monate formte sich um den ADG eine Gruppe von mehreren renommierten Schweizer Webagenturen namens:

  - [Hinderling Volkart](https://www.hinderlingvolkart.com/)
  - [UNIC AG](https://www.unic.com/)
  - [Liip AG](https://www.liip.ch/)
  - [Zeix AG](https://www.zeix.ch/)

  Als [«Accessibility Alliance»](http://www.accessibility-developer-guide.com/introduction/about/) übergeben wir gemeinsam den ADG am **19. Juni 2018** als Open Source Projekt offiziell der Öffentlichkeit.

  Auch nach Joshuas Weggang von «Zugang für alle» werden wir als Teil der Open Source Community weiterhin aktiv an der **Weiterentwicklung** des ADG beteiligt sein.
