markdown:
  Joshua empfindet sich selbst als **technisch versierte** und **offenherzige** Person: **Freude und Sinn** bei der Arbeit sind für ihn keine illusorischen Nice-to-haves, sondern **höchste Priorität**.

  Er liebt es, zu **erschaffen** und Visionen Realität werden zu lassen - mit **Herz, Hand und Verstand**. Er packt gerne an, sowohl als Teil eines Teams als auch alleine.
