markdown:
  Markus is always open to **new technologies**, eager to learn and adapt to new situations. **Simplicity is his passion** when it comes to code. He has a strong opinion and tries to analyze everything as objective as possible. What he is doing must have a **good reason and a measurable output**. Work is not just to earn money for him.

  Joshua is perceiving himself as **technically experienced** and **open-hearted** person: For him, **joy and sense** at work are not illusory nice-to-haves, but **highest priority**. He loves to **create** and turn visions into reality - with **heart, hand and mind**. He likes to do things, both as part of a team and alone. **Joshua is having a sabatical at the moment and is enjoying to travel around the globe.**
