markdown:
  Joshua is perceive himself as **technically experienced** and **open-hearted** person: For him, **joy and sense** at work are not illusory nice-to-haves, but **highest priority**.

  He loves to **create** and turn visions into reality - with **heart, hand and mind**. He likes to do things, both as part of a team and alone.
