markdown:
  Mich charakterisiert folgende einzigartige Kombination:

  - Technisch versierter **Full-Stack Web-Developer** mit **10+ Jahren Erfahrung** im Frontend und Backend
  - Fachlich breit aufgestellter **Accessibility Consultant** mit **4 Jahren Berufstätigkeit** als Teil des inklusiven Teams der Stiftung [«Zugang für alle»](http://www.access-for-all.ch), welches zur Hälfte aus Menschen mit körperlichen Behinderungen besteht (etwa Blinden).
  - Absolvent des **Bachelor of Science in Psychologie** (mit Nebenfach Informatik)

  Neben meiner Expertise bezüglich Web-Technologien (HTML, CSS und JavaScript) verfüge ich über profunde **theoretische und praktische Kenntnisse** der relevanten internationalen Richtlinien:

  - [WCAG (Web Content Accessibility Guidelines) 2.0](https://www.w3.org/TR/WCAG20/) sowie [WCAG 2.1](https://www.w3.org/TR/WCAG21/)
  - [ARIA (Accessible Rich Internet Applications)](https://www.w3.org/TR/wai-aria/)
  - [BBC Mobile Accessibility Guidelines](http://www.bbc.co.uk/guidelines/futuremedia/accessibility/mobile)

  Ich kann zudem auf **langjährige Erfahrung** zählen in der **Handhabung assistiver Technologien** wie Screen Reader, Zoom, Hochkontrast und Schaltersteuerung (Keyboard-only), sowohl auf **Desktop** (Windows, macOS) als auch **Mobile** Plattformen (iOS, Android).
