markdown:
  I am characterized by the following unique combination:

  - Technically experienced **fullstack web developer** with **10+ years of experience** in the frontend and backend.
  - **Accessibility consultant** with **4 years of professional experience** as part of the inclusive team of the Foundation ["Access for all"](http://www.access-for-all.ch), half of which is made up of people with physical disabilities (such as the blind).
  Graduate of the **Bachelor of Science in Psychology** (with minor in Computer Science).

  Besides my expertise in web technologies (HTML, CSS and JavaScript), I have profound **theoretical and practical knowledge** of the relevant international guidelines:

  - [WCAG (Web Content Accessibility Guidelines) 2.0](https://www.w3.org/TR/WCAG20/) and [WCAG 2.1](https://www.w3.org/TR/WCAG21/)
  - [ARIA (Accessible Rich Internet Applications)](https://www.w3.org/TR/wai-aria/)
  - [BBC Mobile Accessibility Guidelines](http://www.bbc.co.uk/guidelines/futuremedia/accessibility/mobile)

  I can also count on **years of experience** in **handling assistive technologies** such as screen reader, zoom, high contrast and switch control (keyboard only), both on **Desktop** (Windows, macOS) and **Mobile** platforms (iOS, Android).
