markdown:
  I perceive myself as **technically experienced** and **open-hearted** person: For me, **joy and sense** at work are not illusory nice-to-haves, but **highest priority**.

  I love to **create** and turn visions into reality - with **heart, hand and mind**. I like to do things, both as part of a team and alone.
