markdown:
  Ich empfinde mich selbst als **technisch versierte** und **offenherzige** Person: **Freude und Sinn** bei der Arbeit sind für mich keine illusorischen Nice-to-haves, sondern **höchste Priorität**.

  Ich liebe es, zu **erschaffen** und Visionen Realität werden zu lassen - mit **Herz, Hand und Verstand**. Ich packe gerne an, sowohl als Teil eines Teams als auch alleine.
