markdown:
  # Herzlichen Dank, #{@trial_session_request.name}!

  Ich freue mich sehr über Ihre Anfrage für eine **kostenlose Probe-Session** mit mir.

  Sie werden dabei die Möglichkeit haben, mir live zuzuschauen beim Testen Ihrer Website <#{@trial_session_request.url> auf Accessibility (Barrierefreiheit). Auch Fragen und Kommentare sind dabei natürlich jederzeit willkommen!

  Für diese **15 minütige Session** haben Sie folgende zeitliche Verfügbarkeit angegeben:

  > <pre>#{@trial_session_request.availability}</pre>

  Ich werde Sie bald persönlich kontaktieren, um einen passenden Termin zu bestätigen, oder um Ihnen Alternativen vorschlagen.

  Ich freue mich, Sie kennenzulernen und Sie bei Ihren Anliegen zu unterstützen.

  Herzliche Grüsse.
