markdown:
  # Thank you very much, #{@trial_session_request.name}!

  I am looking forward to your inquiry for a **free trial session** with me.

  You will have the opportunity to watch me live while I'm testing your website <#{@trial_session_request.url}> on accessibility. Of course, questions and comments are also welcome!

  For this **15-minute session**, you have specified the following time availability:

  > <pre>#{@trial_session_request.availability}</pre>

  I will soon contact you personally to confirm a suitable date or to suggest alternatives.

  I look forward to getting to know you and supporting you in your concerns.

  Kind regards.
