markdown:
  We would love to share our knowledge, preferably **directly on screen**, with your developers and within your project code.

  As **Coaches** we accompany developers over a longer period of time and support them in acquiring all necessary technical skills for accessibility.

  We also offer **Workshops** and **Webinars** tailored to your specific needs.

  Whenever it comes to imparting **technical knowledge** about accessibility, we claim to be a good choice.
