markdown:
  Gemäss ihrer Anforderungen erstellen wir gerne für Sie konkrete technische Lösungen (**Prototypen**), welche die Anforderungen an Barrierefreiheit erfüllen.

  Oder wir programmieren als **Teil Ihres Teams** an Ihrem Projekt mit, am liebsten über die gängigen Tools wie etwa [GitHub](https://github.com/) oder [Jira](https://www.atlassian.com/software/jira).
