markdown:
  According to your requirements, we will be happy to create concrete technical solutions (**prototypes**) for you, which meet the requirements of accessibility.

  Or we code for your project as **part of your team**, preferably with the usual tools like [GitHub](https://github.com/) or [Jira](https://www.atlassian.com/software/jira).
