markdown:
  Ich berate Sie zu allen möglichen Themen bezüglich Barrierefreiheit, insbesondere zu Fragen rund um:

  - [WCAG 2.0 (Web Content Accessibility Guidelines)](https://www.w3.org/WAI/standards-guidelines/wcag/) sowie [2.1](https://www.w3.org/TR/WCAG21/)
  - [ARIA (Accessible Rich Internet Applications)](https://www.w3.org/TR/wai-aria/)
  - [BBC Mobile Accessibility Guidelines](http://www.bbc.co.uk/guidelines/futuremedia/accessibility/mobile)

  Gerne gebe ich Auskunft über alltägliche Fragen, welche bei den meisten Projekten auftreten, etwa:

  - Ab wann sollte Barrierefreiheit in einem Projekt berücksichtigt werden?
  - Was ist beim visuellen Layout zu beachten?
  - Welche Code-Bibliotheken Dritter (Widgets, Templates) sind zugänglich?
  - Gibt es einen "Kompromiss", welcher bei kleinem Aufwand zu respektabler Barrierefreiheit führt?
