markdown:
  Im Zentrum unserer Dienstleistungen steht die konsequente **Weitergabe unserer Expertise** an den Kunden durch **"Learning by doing"** - ganz gemäss dem Leitsatz **"Hilfe zur Selbsthilfe"**.

  Ob bei Ihnen vor Ort oder "remote" per Videotelefonie: wir helfen **schnell, zielführend und effizient**.
